$transition-time: 0.5s;
$step0: 0%;
$step1: 47%;
$step2: 53%;
$step3: 100%;
$margin-progress-step: 100px;

@mixin done {
  background-color: var(--primary-base-color);
  transition: width $transition-time;
}

@mixin remaining {
  background-color: var(--placeholder-gradient-color);
  transition: width $transition-time;
}
.Checkout {
  &::before {
      @include after-mobile {
          min-height: 0;
          display: none;
      }
  }
}

.progress-step {
  margin: 0 $margin-progress-step;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: var(--placeholder-gradient-color);
}

.progress-step::before {
  content: '';
}

.active .progress-step-circle {
  background-color: var(--primary-base-color);
  padding: 15px;
  margin: 10px;
  border-radius: 100%;
  transition: all $transition-time;
}

.progress-step-circle {
  background-color: var(--placeholder-gradient-color);
  padding: 15px;
  margin: 10px;
  border-radius: 100%;
}

.progress-step-number {
  color: white;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.active {
  color: var(--body-content-color);
}

.check {
  content: '';
  top: -2px;
  right: 0px;
  width: 12px;
  height: 6px;
  transform: rotate(135deg);
  border-right: 2px solid var(--checkout-address-table-check-mark-selected-color);
  border-top: 2px solid var(--checkout-address-table-check-mark-selected-color);
}

#progress {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: var(--breadcrumbs-background);
  min-height: var(--breadcrumbs-height)
}

#progress-status {
  position: relative;
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#progress-bar {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 25%;
  display: flex;
  flex-flow: row;
}

.done-0 {
  @include done
  width: $step0;
}

.remaining-0 {
  @include remaining
  width: calc(100% - #{$step0});
}

.done-1 {
  @include done
  width: calc(#{$step1} - #{$margin-progress-step} - 20px);
}

.remaining-1 {
  @include remaining
  width: calc(100% - #{$step1} + #{$margin-progress-step} + 25px);
}

.done-2 {
  @include done
  width: calc(#{$step2} + #{$margin-progress-step} + 25px);
}

.remaining-2 {
  @include remaining
  width: calc(100% - #{$step2} - #{$margin-progress-step} - 25px);
}

.done-3 {
  @include done
  width: $step3;
}

.remaining-3 {
  @include remaining
  width: calc(100% - #{$step3});
}

@media only screen and(max-width: 900px) {
  .progress-step {
    margin: 0 calc(#{$margin-progress-step} - 30px);
  }
}

@media only screen and(max-width: 600px) {
  .progress-step {
    margin: 0 calc(#{$margin-progress-step} - 80px);
  }

  .done-1 {
    @include done
    width: calc(#{$step1} - 5%);
  }

  .remaining-2 {
    @include remaining
    width: calc(100% - #{$step2} - 9%);
  }
}
